#contact{
    background: #3f3f3f;
    margin-top: 100px;

    #forma{
        width:30%;
        margin:0px auto;
        text-align: center;
        padding: 1.4rem ;

        .field{
            width:$container;
            padding:0.5rem;
            margin:0.6rem 0;
            border-radius: 5px;
            border: 0.2rem solid $secondary-color;
            background: #e2e2e2;
            
        }
        .enter{
            background-color: $secondary-color;
            color: $primary-color;
            padding:10px;
            border:none;
            border-radius: 5px;
        }
    }
    h3{
        font-size: 2rem;
        color: $secondary-color;
        text-align: center;
        padding-top: 1rem;
    }
}