#clients{
    margin-top:100px;
    width: $container;
    background: #7a7a7a;
    padding:4rem 0;
    
    .row{
        @include flex-org();
        @include centriraj();
        .client{
            text-align: center;

            p{
                font-size: 2rem;
            }
            .boja{
                color:$secondary-color;
                padding-bottom: 0.8rem;
                font-weight: 600;
            }
        }
    }
}
#myskills{
    width: $container;
    min-height: 400px;
    background-image: $bg-img2;
    @include pozadina();
    background-position: center;
    position: relative;

    .overlay{
        @include overlay-slika();
    }

    .row{
        @include centriraj();
        @include flex-org();

        h3{
            width: $container;
            text-align: center;
            margin-top: 2rem;
            font-size: 2.2rem;
            color: $secondary-color;
            z-index: 2;
            text-transform: uppercase;
        }
    }
    .skills{
        margin-top: 8vh;
        z-index: 1;
        text-align: center;
        i{
            color:$primary-color;
        }
        p{
            color:$primary-color;
            font-size: 1.3rem;
            margin-top:1rem;
        }
    }
}