
#mywork{
    width:$container;
    margin-top:100px;
    display: block;


    .row{
        @include centriraj();
        @include flex-org();
       
    
            h3{
            font-size: 2.5rem;
            color:$secondary-color;
            width: $container;
            text-align:center;
            margin-bottom: 5rem; 
            }
    

    }
    .work{
        width: 23%;
        box-shadow: 2px 6px #7a7a7a;
        text-align: center;
        padding:2rem;
        border-radius: 10px;
        background: $primary-color;
        min-height: 350px;
        
        i{
            padding-bottom:0.8rem;
            color: $secondary-color;
        }
        p{
            font-size: 1.4rem;
            line-height: 1.2;
        }
        h4{
            padding-bottom: 0.6rem;
        }
    }
}